<div class="page-container">
  <ul class="cards">
    <li *ngFor="let card of page.data" class="cards__item">
      <div [routerLink]="[card._id.$oid]" class="card">
        <!--      <div class="card__image card__image&#45;&#45;fence"></div>-->
        <div class="card__content">
          <div class="card__title">{{card.Name}}</div>
          <div class="card-property-container">
            <div class="info-pair">
              <div class="info-name">Name</div>
              <div class="info-value">{{card.Name}}</div>
            </div>
            <div class="info-pair">
              <div class="info-name">Type</div>
              <div class="info-value">{{card.Type}}</div>
            </div>
            <div class="info-pair">
              <div class="info-name">Level</div>
              <div class="info-value">{{card.Level}}</div>
            </div>
            <div class="info-pair">
              <div class="info-name">Race</div>
              <div class="info-value">{{card.Race}}</div>
            </div>
            <div class="info-pair">
              <div class="info-name">Attribute</div>
              <div class="info-value">{{card.Attribute}}</div>
            </div>
            <div class="info-pair">
              <div class="info-name">ATK</div>
              <div class="info-value">{{card.ATK}}</div>
            </div>
            <div class="info-pair">
              <div class="info-name">DEF</div>
              <div class="info-value">{{card.DEF}}</div>
            </div>
          </div>
          <div class="card-button-container" *ngIf="isLoggedIn()">
            <button class="btn btn--block card__btn edit" [routerLink]="[card._id.$oid + '/edit']">Edit</button>
            <button class="btn btn--block card__btn delete" (click)="deleteCard(card._id.$oid)">Delete</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <mat-paginator *ngIf="cardList" #paginator
                 class="demo-paginator"
                 (page)="handlePageEvent($event)"
                 [length]="page.total"
                 [pageSize]="page.per_page"
                 [showFirstLastButtons]="true"
                 [pageSizeOptions]="[6, 9, 12, 24, 100]"
                 [pageIndex]="page.page"

                 aria-label="Select page">
  </mat-paginator>
</div>
