
*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn {
  background-color: white;
  border: 1px solid lightgray;
  //border-radius: 1rem;
  color: darkgray;
  padding: 0.5rem;
}

.btn.delete {
  background: #f34545;
  color: white;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.08);
    box-shadow: 0 20px 40px -14px rgb(195 237 59 / 25%);
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__title {
  color: #730014;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}


.button-container {
  display: flex;
}

.card-property-container {
  padding-top: 10px;
  padding-bottom: 10px;

}

.info-pair {
  display: flex;
  justify-content: space-between;
}

.info-name {
  font-weight: 500;
}
.info-value {

}
