
.card.login-card {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
}


.register-link {
  color: var(--primaryColor);
  cursor: pointer;
}
mat-card-actions {
  margin-bottom: 0;
  margin-top: 0;
}
